{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <h1>Abonnements</h1>
    <h1>Abonnements</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ url('app_unite_new') }}">Ajouter</a>
    {% endif %}

    <div class="container">
        <div class="carte">
            {% for abo in abonnements %}
                <div class="card" style="width: 20rem;">
                    <img src="img/abos/{{ abo.ImgPath }}" class="card-img-top">
                    <div class="card-header">
                        {{ abo.nom }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-3">
                            <dt>Prix</dt>
                            {% if abo.reduction != 0 %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    -{{ abo.reduction }}% </span>
                                {% set reduc = (abo.reduction/100) * abo.prix %}
                                {% set prix = abo.prix - reduc %}
                                <dd>{{ prix }} €/mois</dd>
                            {% else %}
                                <dd>{{ abo.prix }} €/mois</dd>
                            {% endif %}
                            <dt>Nombre d'emplacements</dt>
                            <dd>{{ abo.NbrEmplacement }}</dd>
                            <a class="btn btn-outline-primary" id="reserver" href="#">Choisir cet abonnemment</a>
                        </blockquote>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger" href="#">Archiver</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
