{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    {% for message in app.flashes('reservationSuccess') %}
        <div class="alert alert-success justify-content-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="intro">
        <h2>Réservation</h2>
    </div>
    <div class="container">
        <h6 class="d-flex justify-content-end"> Nombre de réservation(s) : {{ nbr_reservation }}</h6>
        <h3>Abonnement</h3>


        <table class="table table-hover ">
            <tr>
                <thead class="thead-dark">
                {#                <th>ID</th> #}
                <th>Numéro de réservation</th>
                <th>Abonnement</th>
                <th>Quantité</th>
                <th>Date de début</th>
                <th>Date de résiliation</th>
                <th>Renouvellement</th>
                <th>Renouvellement automatique</th>
                </thead>
            </tr>
            <tbody>
            {% for res in reservations %}
                <tr>
                    {#                    <td>{{ res.id }}</td> #}
                    <td>{{ res.numero }}</td>
                    <td>{{ res.IdentifiantAbonnement.nom }}</td>
                    <td>{{ res.Quantity }}</td>
                    <td>{{ res.DateDeb | date('d-m-Y') }}</td>
                    <td>{{ res.DateEnd | date('d-m-Y') }}</td>
                    {% if res.Renouvellement.nom == 'An' %}
                        <td>Renouvellement Annuel</td>
                    {% else %}
                        <td>Renouvellement Mensuel</td>
                    {% endif %}
                    {% if res.renauto == 1 %}
                        <td>Activé</td>
                    {% else %}
                        <td>Désactivé</td>
                    {% endif %}
                    <td><a class="btn" href="{{ url("app_update_reservation", {idReservation : res.id }) }}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {#    <div class="container"> #}
    {#        <h3>Unités</h3> #}
    {#        #}
    {#        <table class="table table-hover "> #}
    {#            <tr> #}
    {#                <thead class="thead-dark"> #}
    {#                <th>ID</th> #}
    {#                <th>Numéro</th> #}
    {#                <th>Abonnement</th> #}
    {#                <th>Quantité</th> #}
    {#                <th>Date de début</th> #}
    {#                <th>Date de résiliation</th> #}
    {#                <th>Renouvellement</th> #}
    {#                <th>Renouvellement automatique</th> #}
    {#                </thead> #}
    {#            </tr> #}
    {#            <tbody> #}
    {#            {% for uni in unites %} #}
    {#            <tr> #}
    {#                <td>{{ uni.id }}</td> #}
    {#                <td>{{ uni.Numero }}</td> #}
    {#                <td>{{ uni.IdentifiantAbonnement.nom }}</td> #}
    {#                <td>{{ uni.Quantity }}</td> #}
    {#                <td>{{ uni.DateDeb | date('d-m-Y') }}</td> #}
    {#                <td>{{ uni.DateEnd | date('d-m-Y') }}</td> #}
    {#                <td>{{ uni.Renouvellement.nom }}</td> #}
    {#                {% if uni.Renouvellement.nom == 'An' %} #}
    {#                    <td>Renouvellement Annuel</td> #}
    {#                {% else %} #}
    {#                    <td>Renouvellement Mensuel</td> #}
    {#                {% endif %} #}
    {#                {% endfor %} #}
    {#            </tr> #}
    {#            </tbody> #}
    {#        </table> #}
    {#    </div> #}
{% endblock %}
