{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <h2>Réservation</h2>


    <h3>Abonnement</h3>

    <div class="container">
        <table class="table table-hover ">
            <tr>
                <thead class="thead-dark">
                <th>ID</th>
                <th>Abonnement</th>
                <th>Quantité</th>
                <th>Date de début</th>
                <th>Date de résiliation</th>
                <th>Renouvellement</th>
{#                <th>Renouvellement automatique</th>#}
                </thead>
            </tr>
            <tbody>
            {% for res in reservations %}
                <tr>
                    <td>{{ res.id }}</td>
                    <td>{{ res.IdentifiantAbonnement.nom }}</td>
                    <td>{{ res.Quantity }}</td>
                    <td>{{ res.DateDeb | date('d-m-Y') }}</td>
                    <td>{{ res.DateEnd | date('d-m-Y') }}</td>
                    {% if res.Renouvellement.nom == 'An' %}
                        <td>Renouvellement Annuel</td>
                    {% else %}
                        <td>Renouvellement Mensuel</td>
                    {% endif %}
                    {% if res.renauto == 1 %}
                        <td>Activé</td>
                    {% else %}
                        <td>Désactivé</td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {#    <div class="container"> #}
    {#        <h3>Unités</h3> #}
    {#        #}
    {#        <table class="table table-hover "> #}
    {#            <tr> #}
    {#                <thead class="thead-dark"> #}
    {#                <th>ID</th> #}
    {#                <th>Numéro</th> #}
    {#                <th>Abonnement</th> #}
    {#                <th>Quantité</th> #}
    {#                <th>Date de début</th> #}
    {#                <th>Date de résiliation</th> #}
    {#                <th>Renouvellement</th> #}
    {#                <th>Renouvellement automatique</th> #}
    {#                </thead> #}
    {#            </tr> #}
    {#            <tbody> #}
    {#            {% for uni in unites %} #}
    {#            <tr> #}
    {#                <td>{{ uni.id }}</td> #}
    {#                <td>{{ uni.Numero }}</td> #}
    {#                <td>{{ uni.IdentifiantAbonnement.nom }}</td> #}
    {#                <td>{{ uni.Quantity }}</td> #}
    {#                <td>{{ uni.DateDeb | date('d-m-Y') }}</td> #}
    {#                <td>{{ uni.DateEnd | date('d-m-Y') }}</td> #}
    {#                <td>{{ uni.Renouvellement.nom }}</td> #}
    {#                {% if uni.Renouvellement.nom == 'An' %} #}
    {#                    <td>Renouvellement Annuel</td> #}
    {#                {% else %} #}
    {#                    <td>Renouvellement Mensuel</td> #}
    {#                {% endif %} #}
    {#                {% endfor %} #}
    {#            </tr> #}
    {#            </tbody> #}
    {#        </table> #}
    {#    </div> #}
{% endblock %}
