{% extends 'base.html.twig' %}

{% block title %}Unités{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <div class="intro">
        <h2>Unités</h2>

        <h3>Il reste {{ baiesLibre }} Baies et {{ unitesLibre }} Unités de libres </h3>
        <h3>Alors profitez-en !</h3>

        <h5>Baies de Stockage : Votre Solution de Stockage de Données</h5>
        <p class="intro">Les baies de stockage sont des dispositifs de stockage de données essentiels pour les
            entreprises
            de toutes tailles. Elles sont conçues pour stocker, organiser et protéger vos données de manière efficace.
            Voici
            quelques détails clés sur nos baies de stockage :
        </p>

        <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <p class="Quest">À quoi ça sert ?</p>
                <ul>
                    <li>Stockage sécurisé : Nos baies vous offrent un espace sécurisé pour conserver vos données
                        sensibles.
                    </li>
                    <li> Sauvegarde automatique : Vous pouvez automatiser les sauvegardes pour éviter la perte de
                        données.
                    </li>
                    <li>Accès rapide :Accédez à vos données en quelques secondes, améliorant ainsi votre productivité.
                    </li>
                </ul>
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <img src="/img/bg_unite1.jpg" class="w-100" alt="Échange de données">
            </div>
        </div>

        <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="img/bg_unite2.jpg" class="w-100" alt="Entreprise">
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <p class="Quest">Qui peut en bénéficier ?</p>
                <ul>
                    <li>Entreprises de toutes tailles : Des petites entreprises aux grandes corporations, nos baies
                        s'adaptent à
                        vos
                        besoins.
                    </li>
                    <li>
                        Professionnels de l'informatique : Les experts en informatique peuvent bénéficier de la
                        flexibilité et
                        de la
                        fiabilité de nos baies.
                    </li>
                    <li>
                        Utilités : Stockage de données critiques : Protégez vos données commerciales essentielles.
                    </li>
                    <li>
                        Hébergement de sites web : Assurez la disponibilité constante de vos sites web.
                    </li>
                    <li>
                        Applications gourmandes en données : Idéales pour les applications qui nécessitent beaucoup
                        d'espace de
                        stockage.
                    </li>
                    <li>
                        Contactez-nous dès aujourd'hui pour en savoir plus sur la façon dont nos baies de stockage
                        peuvent
                        améliorer
                        votre entreprise.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a class="btn btn-outline-primary" href="{{ url('app_reservation') }}">Accédez a vos Unités</a>

    {#    {% if is_granted('ROLE_ADMIN') %} #}
    {#        <div class="crud"> #}
    {#            #}{#            <a class="btn btn-success" href="{{ url('app_baie_new') }}">Ajouter</a> #}
    {#            #}{#            <a class="btn btn-danger" href="{{ url('app_baie_remove') }}">Archiver</a> #}
    {#        </div> #}
    {#    {% endif %} #}
{% endblock %}
