<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WorkTogether - {% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if not isSecurityPage %}
<div class="navi">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('app_home') }}">
                <img src="/img/logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
                WorkTogether
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_unite') }}">Unités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_abonnement') }}">Abonnement</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Espace Client
                        </a>
                        <ul class="dropdown-menu">

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{#                                <li><a class="dropdown-item" data-bs-toggle="offcanvas" role="button" href="#offcanvasExample">Votre Profil</a></li>#}
                                <li><a class="dropdown-item" href="{{ url('app_reservation') }}">Vos Reservation</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url('app_logout') }}">Se Déconnecter</a></li>

                            {% else %}
                                <li><a class="dropdown-item" href="{{ url('app_login') }}">Se Connecter</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{{ url('app_register') }}">Créer un Compte</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{#    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
{#        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"#}
{#             aria-labelledby="offcanvasExampleLabel">#}
{#            <div class="offcanvas-header text-bg-dark">#}
{#                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Profil</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#            </div>#}

{#            <div class="offcanvas-body">#}
{#                <div class="container">#}
{#                    <div class="row mt-5">#}
{#                        <div class="col-md-6 offset-md-3">#}
{#                            <h1>{{ user.prenom }} {{ user.nom }}</h1>#}
{#                        </div>#}
{#                        <h2>Informations Personnels</h2>#}
{#                        <p>Email : {{ user.email }}<a class="btn" href="#"><i class="bi bi-pencil-square"></i></a>#}
{#                        </p>#}
{#                        <p>Mot de passe <a class="btn" href="#"><i class="bi bi-pencil-square"></i></a></p>#}

{#                        <h2>Informations Pratiques</h2>#}
{#                        {% if countRes != 0 %}#}
{#                        <p>Nombre de reservation : {{ countRes }}</p>#}
{#                        <ul class="list-group list-group-flush">#}
{#                            {% set i = 1 %}#}
{#                            {% for res in reservations %}#}
{#                                <li class="gras d-flex justify-content-center">Reservation n°{{ i }}</li>#}
{#                                <li class="list-group-item">#}
{#                                    {{ res.numero }}#}
{#                                </li>#}
{#                                <li class="list-group-item">#}
{#                                    {{ res.IdentifiantAbonnement.nom }}#}
{#                                </li>#}
{#                                <br/>#}
{#                                {% set i=i+1 %}#}
{#                            {% endfor %}#}
{#                            <a class="btn btn-link" href="{{ url("app_reservation") }}">Voir Plus</a>#}
{#                            {% endif %}#}
{#                            <p>Vous n'avez pas encore de reservation</p>#}
{#                            <a class="btn btn-link" href="{{ url("app_abonnement") }}">S'abonner</a>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#</div>#}
    {% endif %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>

